.hero {
    padding: 30px 40px;
    text-align: center;
}

.section {
    padding: 35px 24px;
}

#formulario {
    padding: 30px 95px;
}

.title { text-align: center;}

.footer {
    font-weight: bold;
    padding: 40px 24px;
    background: #E5EAEB;
}
